<div class="goods">
    <div class="good">
       <img src="../../assets/imgs/home_goods2.jpg" alt="picture">
       <div class="txt">
           <span>完美日记口红</span>
           <p>RMB 20</p>
       </div>
     </div>
     <div class="good">
        <img src="../../assets/imgs/home_goods2.jpg" alt="picture">
        <div class="txt">
          <span>完美日记口红</span>
          <p>RMB 20</p>
       </div>
     </div>
     <div class="good">
        <img src="../../assets/imgs/home_goods2.jpg" alt="picture">
        <div class="txt">
            <span>完美日记口红</span>
            <p>RMB 20</p>
        </div>
      </div>
      <div class="good">
         <img src="../../assets/imgs/home_goods2.jpg" alt="picture">
         <div class="txt">
           <span>完美日记口红</span>
           <p>RMB 20</p>
        </div>
      </div>
      <div class="good">
          <img src="../../assets/imgs/home_goods2.jpg" alt="picture">
          <div class="txt">
              <span>完美日记口红</span>
              <p>RMB 20</p>
          </div>
        </div>
        <div class="good">
           <img src="../../assets/imgs/home_goods2.jpg" alt="picture">
           <div class="txt">
             <span>完美日记口红</span>
             <p>RMB 20</p>
          </div>
        </div>
  </div>
