page-goodsdetail {
    ion-title{
        text-align: center;
        padding-right: 45px;
    }
    .head{
        width: 96%;
        height:70px;
        margin:0 2%;
        border-bottom: 0.5px solid #ccc;
        img{
            width: 15%;
            height: 50px;
            margin:10px 5px;
        }
        .txt{
            position: relative;
            float: right;
            width: 80%;
            height: 60px;
            padding:10px 0;
            p{
                font-size: 18px;
                margin:0;
            }
            .time{
                position: absolute;
                left: 0;
                bottom: 0;
                color:#ccc;
            }
            .place{
                position: absolute;
                right: 0;
                bottom: 0;
                color:#ccc;
            }
        }
    }
    .money{
        width: 100%;
        height: 30px;
        line-height: 30px;
        padding:10px 5%;
        .name{
            float: left;
            font-size: 20px;
            width: 65%;
        }
        .price{
            float: right;
            color:#ff0000;
            font-size: 23px;
            width: 25%;
            text-align: right;
        }
    }
    .detail{
        width: 100%;
        height: 10px;
        color:#999;
        padding:0 5%;
    }
    .con{
        width: 100%;
        padding:10px 5%;
        img{
            width: 100%;
        }
    }
    .but{
        button{
            width: 100%;
            height: 50px;
            background-color: #2aaf74;
            color:#fff;
            font-size: 18px;
        }
    }
}
