<div class="goods">
   
     <div class="good">
        <img src="../../assets/imgs/home_goods1.jpg" alt="picture">
        <div class="txt">
           <span>张嘉佳·个性笔记本</span>
           <p>RMB 20</p>
        </div>
      </div>
       <div class="good">
         <img src="../../assets/imgs/home_goods1.jpg" alt="picture">
         <div class="txt">
            <span>张嘉佳·个性笔记本</span>
            <p>RMB 20</p>
         </div>
       </div>
       <div class="good">
          <img src="../../assets/imgs/home_goods1.jpg" alt="picture">
          <div class="txt">
             <span>张嘉佳·个性笔记本</span>
             <p>RMB 20</p>
          </div>
        </div>
         <div class="good">
           <img src="../../assets/imgs/home_goods1.jpg" alt="picture">
           <div class="txt">
              <span>张嘉佳·个性笔记本</span>
              <p>RMB 20</p>
           </div>
         </div>
  </div>
