page-parttime {
    ion-title{
        text-align: center;
        padding-right: 45px;
    }
    .banner{
        height:200px;
        img{
            width:100%;
            height:200px;
        }
    }
    .con{
        margin-top:5px;
        height:50px;
        border-bottom:1px solid #eee;
        padding-left:10px;
        h5{
            // margin-top:10px;
            margin:10px 0px;
            font-size:16px;
            font-weight: bolder;
            width:70%;
        }
        p{
            margin:0px 0px;
            margin-top:10px;
            width:70%;
            font-size:12px;
            color:#ccc;
        }
        span{
            float:right;
            color:#f00;
            font-size:20px;
            margin-top:-40px;
            margin-right:10px;
        }
    }
}
