<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>添加用户</title>
    <script src="main.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/layui/css/modules/layer/default/layer.css">
</head>
<body>
    <div class="container">
        <form role="form" id="form_all">
            <div class="form-group">
                <label for="id">用户ID</label>
                <input type="text" class="form-control " id="id" width="100px">
            </div>
            <div class="form-group">
                <label for="username">用户名</label>
                <input type="text" class="form-control" id="username" placeholder="用户名">
            </div>
            <div class="form-group">
                <label for="studentId">学号</label>
                <input type="text" class="form-control" id="studentId" placeholder="学号">
            </div>
            <div class="form-group">
                <label for="school">学校</label>
                <input type="text" class="form-control" id="school" placeholder="河北师范大学">
            </div>
            <div class="form-group">
                <label for="telNum">手机号</label>
                <input type="text" class="form-control" id="telNum" placeholder="手机号11位">
            </div>
            <div class="form-group">
                <label for="password">密码</label>
                <input type="password" class="form-control" id="password" placeholder="建议最少6位">
            </div>
            <div class="form-group">
                <label for="avatar">头像</label>
                <input type="text" class="form-control" id="avatar">
            </div>
            <div class="form-group">
                <label for="issue">我的发布</label>
                <input type="text" class="form-control" id="issue" placeholder="填写数字">
            </div>
            <div class="form-group">
                <label for="goods">我的物品</label>
                <input type="text" class="form-control" id="goods" placeholder="填写数字">
            </div>
            <div class="form-group">
                <label for="parttime">我的兼职</label>
                <input type="text" class="form-control" id="parttime" placeholder="填写数字">
            </div>
            <div class="form-group">
                <label for="identity">身份</label>
                <input type="text" class="form-control" id="identity" placeholder="学生/非学生">
            </div>
            <input type="submit" value="确定" id="insert">
            <input type="submit" value="取消" id="cancle">
        </form>
    </div>
</body>
<script src="/js/jquery-1.10.2.js"></script>
<script src="/js/bootstrap.min.js"></script>
    <!-- Metis Menu Js -->
<script src="/js/jquery.metisMenu.js"></script>
 <!-- DATA TABLE SCRIPTS -->
<script src="/js/dataTables/jquery.dataTables.js"></script>
<script src="/js/dataTables/dataTables.bootstrap.js"></script>
<script src="/layui/lay/modules/layer.js"></script>
<script>
    //确定提交数据
    $('#insert').click(function(){
            var id = $('#id').val();
            var username = $('#username').val();
            var studentId = $('#studentId').val();
            var school = $('#school').val();
            var telNum = $('#telNum').val();
            var password = $('#password').val();
            var goods = $('#goods').val();
            var issue = $('#issue').val();
            var avatar = $('#avatar').val();
            var parttime = $('#parttime').val();
            var identity = $('#identity').val();
            var obj = {
                id:id,
                username:username,
                studentId:studentId,
                school:school, 
                telNum:telNum,
                password:password,   
                avatar:avatar,  
                issue:issue,           
                goods:goods,                
                part_time:parttime,
                identity:identity
            }
            var obj1 = JSON.stringify(obj);
            fetch('http://192.168.179.144:3000/user', {
                method: 'POST',
                headers: {'Content-Type': 'application/x-www-form-urlencoded'},
                body:'item=' + obj1
            });
            var index = parent.layer.index; //获取当前弹层的索引号
            parent.layer.close(index);
            layer.msg('添加成功');
        });
    //取消清空表单
    $('#cancle').click(function(){
        $(':input','#form_all') 
        .not(':button, :submit, :reset, :hidden') 
        .val('') 
        .removeAttr('checked') 
        .removeAttr('selected');
    })
    
</script>
</html>