page-help {
    ion-content{
        background-color: #eee !important;
    }
    .toolbar-title-md{
        padding-left:80px;
    }
    .logo{
        text-align: center;
        font-size: 36px;
        color:#2AAF74;
        font-family:'FZZongYi-M05S';
        margin-top: 80px;
    }
}
