page-daiqu {
    ion-header{
        ion-navbar{
            p{
                font-size:20px;
                margin:10px 0;
            }
        }
    }
    ion-content{
        .text-input-md{
            margin:5px 2px;
            padding-left:5px;
        }
        
        .label-md{
            margin:5px 1px;
        }
        ion-label{
            font-size:18px;
            color:orange;
            text-align-last: justify;
            padding-right:12px;
        }
        ion-input{
            border-radius: 15px;
        }
        ion-textarea{
            margin-top:6px;
            margin-left:2px;
        }
    }
}
