<div class="goods">
    <div class="good">
       <img src="../../assets/imgs/home_goods4.jpg" alt="picture">
       <div class="txt">
           <span>百草味芒果干</span>
           <p>RMB 30</p>
       </div>
     </div>
     <div class="good">
        <img src="../../assets/imgs/home_goods4.jpg" alt="picture">
        <div class="txt">
            <span>百草味芒果干</span>
            <p>RMB 30</p>
        </div>
      </div>
      <div class="good">
          <img src="../../assets/imgs/home_goods4.jpg" alt="picture">
          <div class="txt">
              <span>百草味芒果干</span>
              <p>RMB 30</p>
          </div>
        </div>
        <div class="good">
            <img src="../../assets/imgs/home_goods4.jpg" alt="picture">
            <div class="txt">
                <span>百草味芒果干</span>
                <p>RMB 30</p>
            </div>
          </div>
          <div class="good">
              <img src="../../assets/imgs/home_goods4.jpg" alt="picture">
              <div class="txt">
                  <span>百草味芒果干</span>
                  <p>RMB 30</p>
              </div>
            </div>
            <div class="good">
                <img src="../../assets/imgs/home_goods4.jpg" alt="picture">
                <div class="txt">
                    <span>百草味芒果干</span>
                    <p>RMB 30</p>
                </div>
              </div>
  </div>
