page-jianzhi {
    ion-header{
        ion-navbar{
            p{
                font-size:20px;
                margin:10px 0;
            }
        }
    }
    ion-content{
        text-align:center;
        ion-label{
            font-size:18px;
            color:orange;
            margin-top:0px;
             text-align-last: justify;
            padding-right:12px;
        }
        ion-input{
            border-radius: 15px;
            padding:0px 0;
            text-align:center;
        }
        ion-textarea{
            margin-top:6px;
        }
        .text-input-md{
            margin:5px 1px;
            padding-left:6px;
        }
        .label-md{
            margin:2px 1px  2px 1px;
        }
    }
}
